<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scifi.pubreader.infrastructure.mapper.AuthorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.scifi.pubreader.infrastructure.po.AuthorPO">
        <result column="id" property="id" />
        <result column="pseudonym" property="pseudonym" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="biography" property="biography" />
        <result column="locale" property="locale" />
        <result column="vip_level" property="vipLevel" />
        <result column="total_books" property="totalBooks" />
        <result column="total_words" property="totalWords" />
        <result column="first_creation_time" property="firstCreationTime" />
        <result column="is_email_verified" property="emailVerified" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pseudonym, mobile, email, password, avatar_url, biography, locale, vip_level, total_books, total_words, first_creation_time, is_email_verified, status, create_time, update_time
    </sql>

    <select id="selectByUid" resultType="cn.scifi.pubreader.infrastructure.po.AuthorPO">
        SELECT id, pseudonym, avatar_url, password, status FROM novel_author WHERE
        <choose>
            <when test="mobile != null and mobile != ''">
                mobile=#{mobile}
            </when>
            <otherwise>
                email=#{email}
            </otherwise>
        </choose>
    </select>

    <select id="selectByPseudonym" resultType="cn.scifi.pubreader.infrastructure.po.AuthorPO">
        SELECT id, pseudonym, mobile, email, avatar_url, biography, locale, vip_level, total_books, total_words, first_creation_time FROM novel_author WHERE pseudonym=#{pseudonym}
    </select>

</mapper>
