<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scifi.pubreader.infrastructure.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.scifi.pubreader.infrastructure.po.TagPO">
        <result column="id" property="id" />
        <result column="tag_name" property="tagName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tag_name, create_time, update_time
    </sql>

    <insert id="insertBookTags">
        INSERT INTO novel_book_tag(book_id, tag_id) VALUES
        <foreach collection="tagIdList" item="tagId" separator=",">
            (#{bookId}, #{tagId})
        </foreach>
    </insert>

    <select id="selectTopTags" resultType="cn.scifi.pubreader.infrastructure.po.TagPO">
        SELECT id, tag_name FROM novel_tag t LEFT JOIN novel_book_tag bt ON t.id=bt.tag_id GROUP BY t.id ORDER BY COUNT(bt.book_id) DESC LIMIT #{topN}
    </select>

    <select id="selectByBookId" resultType="cn.scifi.pubreader.infrastructure.po.TagPO">
        SELECT t.id, t.tag_name FROM novel_tag t, novel_book_tag bt WHERE t.id=bt.tag_id AND bt.book_id=#{bookId}
    </select>

</mapper>
