<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/novelogic.log"/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
    <property name="LOG_FILE_MAX_HISTORY" value="30"/>

    <appender name="FILE-LOG-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <springProfile name = "prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-LOG-ASYNC"/>
        </root>
    </springProfile>

    <springProfile name = "dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-LOG-ASYNC"/>
        </root>
    </springProfile>
</configuration>